.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    background: var(--btn-inherit);
    border: 1px solid var(--btn-inherit);
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.button:hover {
    background: var(--btn-hover);
}

.button:active {
    background: var(--btn-active);
}

.button.disabled {
    background: var(--btn-disabled);
    cursor: no-drop;
}

.button_secondary {
    color: var(--btn-inherit);
    background: var(--color-white);
}

.button_secondary:hover,
.button_secondary:active {
    color: var(--color-white);
}

@media (min-width: 768px) {
    .button {
        height: 72px;
        padding: 0 40px;
        font-size: 21px;
        line-height: 36px;
        letter-spacing: 0.3px;
        border-radius: 16px;
    }

    .button_small {
        height: 36px;
        padding: 0 10px;
    }
}

@media (max-width: 767.98px) {
    .button {
        height: 38px;
        padding: 0 20px;
        font-size: 14px;
        line-height: 18px;
        border-radius: 8px;
    }

    .button_small {
        height: 19px;
        padding: 0 8px;
    }
}
