.form {
    color: #212806;
}

.form__content {
    background: #f5eee9;
    box-shadow: 0 8px 28px -6px rgba(24, 39, 75, 0.12);
}

.form__title {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    line-height: 1.2;
    text-align: center;
}

.form__text {
    max-width: 480px;
    margin-bottom: 40px;
    display: block;
    font-size: 25px;
    line-height: 30px;
}

.form__item {
    position: relative;
}

.form__input {
    width: 100%;
    height: 70px;
    padding: 0 24px;
    background: #fff;
    border: 1px solid #dbdee7;
    border-radius: 13px;
    font-size: 25px;
    line-height: 30px;
    color: #000;
}

.form__item + .form__item {
    margin-top: 33px;
}

@media (min-width: 1200px) {
    .form__container {
        position: relative;
        padding-top: 200px;
        padding-bottom: 212px;
    }

    .form__container:before {
        content: '';
        position: absolute;
        top: 0;
        right: -258px;
        width: 590px;
        height: 718px;
        background: url("../img/form/twig_top.svg") center / contain no-repeat;
    }

    .form__container:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -310px;
        width: 717px;
        height: 588px;
        background: url("../img/form/twig_bottom.svg") center / contain no-repeat;
    }

    .form__title {
        margin-bottom: 158px;
        font-size: 45px;
    }

    .form__content {
        z-index: 1;
        position: relative;
        padding: 102px 40px 555px;
    }

    .form__content:before {
        content: '';
        position: absolute;
        right: -96px;
        bottom: 0;
        width: 812px;
        height: 1104px;
        background: url("../img/form/bgr.svg") right bottom / contain no-repeat;
    }


    .form__content form {
        max-width: 512px;
    }
}

@media (max-width: 1199px) {
    .form__container {
        padding-top: 67px;
        padding-bottom: 67px;
    }


    .form__title {
        margin-bottom: 48px;
        font-size: 28px;
    }
}

@media (min-width: 768px) {
    .form__content {
        border-radius: 64px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .form__content {
        padding: 40px;
    }
}

@media (max-width: 767px) {
    .form__title {
        max-width: 212px;
        margin: 0 auto 48px;
        font-size: 16px;
        line-height: 18px;
    }

    .form__content {
        padding: 40px 10px;
        border-radius: 16px;
    }

    .form__text {
        max-width: 261px;
        margin: 0 auto 23px;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
    }

    .form__item + .form__item {
        margin-top: 13px;
    }

    .form__item:last-child {
        text-align: center;
    }

    .form__input {
        height: 43px;
        font-size: 14px;
        line-height: 18px;
    }
}
