.header { }

.header__container {
    position: relative;
}

.header__container > * {
    position: relative;
}

.header__container:before {
    content: '';
    position: absolute;
    top: 0;
    background: url("../img/header/bgr.svg") top right / contain no-repeat;
}

.header__logo {
    display: block;
}

@media (min-width: 1200px) {
    .header__container:before {
        left: 50px;
    }

    .header__title {
        margin: 69px 0;
        font-size: 80px;
        line-height: 100px;
    }

    .header__text {
        margin: 68px 0 0;
    }

    .header__text span {
        display: inline-block;
        margin-left: 8px;
    }
}

@media (max-width: 1199.98px) {
    .header__title {
        font-size: 30px;
        line-height: 34px;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .header__text {
        margin-top: 22px;
        margin-bottom: 22px;
    }
    .header__action {
        margin-top: 15px;
    }
}
@media (min-width: 768px) {
    .header__container {
        padding-top: 64px;
        padding-bottom: 227px;
    }

    .header__container:before {
        left: 20px;
        right: -98px;
        bottom: 42px;
    }
}

@media (max-width: 767.98px) {
    .header__container {
        padding-top: 22px;
        padding-bottom: 61px;
    }

    .header__container:before {
        left: 10px;
        right: -38px;
        bottom: 196px;
    }

    .header__title {
        margin: 156px 0 15px;
        text-align: center;
    }

    .header__logo {
        max-width: 99px;
    }

    .header__text {
        margin: 22px 0 0;
    }

    .header__text span {
        display: block;
    }

    .header__action {
        text-align: center;
    }
}