main {
    background: url("../img/page_bgr.png") center top / cover no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.header, .footer, .section {
    overflow: hidden;
}

.header__container,
.footer__container,
.section__container {
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .header__container,
    .footer__container,
    .section__container {
        max-width: 1280px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .header__container,
    .footer__container,
    .section__container {
        max-width: 768px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 767.98px) {
    .header__container,
    .footer__container,
    .section__container {
        max-width: 320px;
        padding-left: 10px;
        padding-right: 10px;
    }
}